.cart h1{
    color: blue;
}

.cart .prof-cart {
    border: 1px solid #cacaca;
    padding: 10px 20 px;
    background-color: white;
    margin: 10px;
}

.card .prod-cart h5{
    flex: auto;
}

.card .prod-cart h6{
    width: 70px;
}

.card .prod-card img {
    width: 85px;
}